html {
	--neutral: #232323;
	--neutral2: #6c6c6c;
	--neutral3: #c4c4c4;
	--neutral4: #e3e3e3;
	--primary: #2187ff;
	--primary2: #67adff;
	--primary3: #b7d8ff;
	--secondary: #bb2cff;
	--secondary2: #d06cff;
	--secondary3: #e5aeff;
	--success: #4fef7c;
	--success-lite: #a7ffc0;
	--error: #ef624f;
	--error-lite: #ee9589;
}

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, 'Noto Sans', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	padding: 2.5rem 3.5rem;
	background-color: var(--primary);
	color: white;
}

#header-title {
	flex: 1 1 auto;
	font-weight: bold;
}

#header-links a {
	margin-left: 2rem;
}

header a {
	color: inherit;
}

header a:not(:hover) {
	text-decoration: none;
}

main {
	margin: auto;
	padding: 5rem 1rem;
	max-width: 60rem;
}

h1 {
	text-align: center;
}

section {
	margin: auto;
	max-width: 40rem;
	margin-bottom: 3rem;
}

[centered] {
	text-align: center;
}

[fullwidth] {
	width: auto;
}

.toast {
	display: inline-block;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	position: fixed;
	padding: 1rem;
	background-color: white;
	bottom: 1rem;
	left: 50%;
	max-width: 10rem;
	transform: translateX(-50%);
	animation: toast-in 0.5s;
}

@keyframes toast-in {
	from {
		transform: translateX(-50%) translateY(calc(100% + 2rem));
	}
	
	to {
		transform: translateX(-50%);
	}
}

.toast.toast-exiting {
	animation: toast-out 0.5s ease-in;
	transform: translateX(-50%) translateY(calc(100% + 2rem));
}

@keyframes toast-out {
	from {
		transform: translateX(-50%);
	}
	
	to {
		transform: translateX(-50%) translateY(calc(100% + 2rem));
	}
}

.page {
	display: none;
}

.page.active {
	display: initial;
}

.loginSetup {
	margin-top: 6rem;
	padding: 2rem 20rem;
}

.loginbbby{
	margin-top: 2rem;
	font-size: 12px
}

.two-column {
	column-count: 2;
}

@media (max-width: 50rem) {
	main {
		padding: 1rem;
		padding-top: 5rem;
	}
	
	.two-column {
		column-count: initial;
	}

	.loginSetup {
		margin-top: 6rem;
		padding: 2rem 10rem;
	}

}

.error-message {
	color: #f00;
	font-weight: bold;
}

.error-button {
	border-color: #f00;
}
